= form_for @social_object do |f|
  = error_messages_for @social_object
  .row
    .col-md-6
      .form-group
        = f.label :soname
        = f.text_field :soname, class: 'form-control'
        = f.error_messages_for(:soname)
    .col-md-6
      .form-group
        = f.label :type_of
        = f.text_field :type_of, class: 'form-control'
        = f.error_messages_for(:type_of)
    .col-md-6
      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
        = f.error_messages_for(:address)
    .col-md-6
      .form-group
        = f.label :phones_of_operators
        = f.text_field :phones_of_operators, class: 'form-control'
        = f.error_messages_for(:phones_of_operators)
    .col-md-6
      .form-group
        = f.label :director
        = f.text_field :director, class: 'form-control'
        = f.error_messages_for(:director)
    .col-md-6
      .form-group
        = f.label :phones_of_director
        = f.text_field :phones_of_director, class: 'form-control'
        = f.error_messages_for(:phones_of_director)
    .col-md-6
      .form-group
        = f.label :maximum_working_shift
        = f.number_field :maximum_working_shift, class: 'form-control'
        = f.error_messages_for(:maximum_working_shift)
    .col-md-6
      .form-group
        = f.label :superior_organization
        = f.text_field :superior_organization, class: 'form-control'
        = f.error_messages_for(:superior_organization)
    .col-md-6
      .form-group
        = f.label :boiler_house_id
        = f.select :boiler_house_id, BoilerHouse.all.collect{|t| [t.bhname, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:boiler_house)
    .col-md-6
      .form-group
        = f.label :transformer_substation_id
        = f.select :transformer_substation_id, TransformerSubstation.all.collect{|t| [t.tsnum, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:transformer_substation)
    .col-md-6
      .form-group
        = f.label :water_intake_unit_id
        = f.select :water_intake_unit_id, WaterIntakeUnit.all.collect{|t| [t.wiunum, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:water_intake_unit)
  .row
    .col-md-3
      .form-group
        = f.label :basement
        = f.check_box :basement, class: 'form-check'
        = f.error_messages_for(:basement)
    .col-md-3
      .form-group
        = f.label :attic
        = f.check_box :attic, class: 'form-check'
        = f.error_messages_for(:attic)
    .col-md-3
      .form-group
        = f.label :elevators
        = f.check_box :elevators, class: 'form-check'
        = f.error_messages_for(:elevators)
    .col-md-3
      .form-group
        = f.label :redundant_power_supply
        = f.check_box :redundant_power_supply, class: 'form-check'
        = f.error_messages_for(:redundant_power_supply)
  %h1 Координаты
  .row
    .col-md-6
      .form-group
        = f.label :latitude
        = f.text_field :latitude, class: 'form-control'
        = f.error_messages_for(:latitude)
    .col-md-6
      .form-group
        = f.label :longitude
        = f.text_field :longitude, class: 'form-control'
        = f.error_messages_for(:longitude)


  %br 
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
