= form_for @house do |f|
  = error_messages_for @house
  .row
    .col-md-6
      .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
        = f.error_messages_for(:address)
    .col-md-6
      .form-group
        = f.label :type_of_building
        = f.text_field :type_of_building, class: 'form-control'
        = f.error_messages_for(:type_of_building)
  .row
    .col-md-4
      .form-group
        = f.label :number_of_apartments
        = f.number_field :number_of_apartments, class: 'form-control'
        = f.error_messages_for(:number_of_apartments)
    .col-md-4
      .form-group
        = f.label :number_of_floors
        = f.number_field :number_of_floors, class: 'form-control'
        = f.error_messages_for(:number_of_floors)
    .col-md-4
      .form-group
        = f.label :year_of_construction
        = f.number_field :year_of_construction, class: 'form-control'
        = f.error_messages_for(:year_of_construction)
  .row
    .col-md-4
      .form-group
        = f.label :type_of_roof
        = f.text_field :type_of_roof, class: 'form-control'
        = f.error_messages_for(:type_of_roof)
    .col-md-4
      .form-group
        = f.label :number_of_entrances
        = f.number_field :number_of_entrances, class: 'form-control'
        = f.error_messages_for(:number_of_entrances)
    .col-md-4
      .form-group
        = f.label :number_of_residents
        = f.number_field :number_of_residents, class: 'form-control'
        = f.error_messages_for(:type_of_roof)

  .row
    .col-md-2
      .form-group
        = f.label :basement
        = f.check_box :basement, class: 'form-check'
        = f.error_messages_for(:basement)
    .col-md-2
      .form-group
        = f.label :attic
        = f.check_box :attic, class: 'form-check'
        = f.error_messages_for(:attic)
    .col-md-2
      .form-group
        = f.label :underground_parking
        = f.check_box :underground_parking, class: 'form-check'
        = f.error_messages_for(:underground_parking)
    .col-md-2
      .form-group
        = f.label :elevators
        = f.check_box :elevators, class: 'form-check'
        = f.error_messages_for(:elevators)
    .col-md-2
      .form-group
        = f.label :garbage_chute
        = f.check_box :garbage_chute, class: 'form-check'
        = f.error_messages_for(:garbage_chute)
    .col-md-2
      .form-group
        = f.label :gasified
        = f.select :gasified, options_for_select([['Нет'], ['Колонка'], ['Плита']]), class: 'form-control'
        = f.error_messages_for(:gasified)
  .row
    .col-md-6
      .form-group
        = f.label :managment_company_id
        = f.select :managment_company_id, ManagmentCompany.all.collect{|t| [t.mcname, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:managment_company)
    .col-md-6
      .form-group
        = f.label :boiler_house_id
        = f.select :boiler_house_id, BoilerHouse.all.collect{|t| [t.bhname, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:boiler_house)
    .col-md-6
      .form-group
        = f.label :transformer_substation_id
        = f.select :transformer_substation_id, TransformerSubstation.all.collect{|t| [t.tsnum, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:transformer_substation)
    .col-md-6
      .form-group
        = f.label :water_intake_unit_id
        = f.select :water_intake_unit_id, WaterIntakeUnit.all.collect{|t| [t.wiunum, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:water_intake_unit)
  %h1 Координаты
  .row
    .col-md-6
      .form-group
        = f.label :latitude
        = f.text_field :latitude, class: 'form-control'
        = f.error_messages_for(:latitude)
    .col-md-6
      .form-group
        = f.label :longitude
        = f.text_field :longitude, class: 'form-control'
        = f.error_messages_for(:longitude)


  %br 
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
