=breadcrumb_tag do
  %li.active
    = t('headers.houses.edit')
  %li
    = link_to(@house.address, @house)
  %li
    = link_to 'Дома', houses_path
    
.page-header
  %h1= t('headers.houses.edit')

= render 'form'
